In [1]:
import pandas as pd
import os

In [4]:
folder_path = 'C:\\Users\\scarl\\Documents\\Research\\data\\'
stock_file = '80837.csv'

start_date = '1994-10-03'
end_date = '1994-10-07'

In [11]:
full_path = os.path.join(folder_path, stock_file)
df = pd.read_csv(full_path)
df.head(5)

,PERMNO,date,NAMEENDT,SHRCD,EXCHCD,SICCD,NCUSIP,TICKER,COMNAM,SHRCLS,...,CFACPR,CFACSHR,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
0,80837,19940831,19991130.0,11.0,3.0,6020.0,70336H10,PNBK,PATRIOT NATIONAL BANK CONN,NaN,...,0.1,0.1,NaN,4.0,C,-0.000536,-0.000562,0.003592,0.003579,-0.001197
1,80837,19940901,NaN,11.0,3.0,6020.0,70336H10,PNBK,PATRIOT NATIONAL BANK CONN,NaN,...,0.1,0.1,6.50,17.0,-0.074074,-0.004520,-0.004657,-0.000902,-0.000949,-0.004900
2,80837,19940902,NaN,11.0,3.0,6020.0,70336H10,PNBK,PATRIOT NATIONAL BANK CONN,NaN,...,0.1,0.1,6.75,11.0,0.080000,-0.002601,-0.002897,0.003428,0.003293,-0.004607
3,80837,19940906,NaN,11.0,3.0,6020.0,70336H10,PNBK,PATRIOT NATIONAL BANK CONN,NaN,...,0.1,0.1,6.75,5.0,-0.055556,0.000327,0.000283,-0.000356,-0.000397,0.001847
4,80837,19940907,NaN,11.0,3.0,6020.0,70336H10,PNBK,PATRIOT NATIONAL BANK CONN,NaN,...,0.1,0.1,6.75,7.0,0.058824,0.000008,-0.000004,0.002477,0.002456,-0.001844

In [12]:
column_to_filter = 'date'
df[column_to_filter] = pd.to_datetime(df[column_to_filter], format='%Y%m%d')
df.head(5)

,PERMNO,date,NAMEENDT,SHRCD,EXCHCD,SICCD,NCUSIP,TICKER,COMNAM,SHRCLS,...,CFACPR,CFACSHR,OPENPRC,NUMTRD,RETX,vwretd,vwretx,ewretd,ewretx,sprtrn
0,80837,1994-08-31,19991130.0,11.0,3.0,6020.0,70336H10,PNBK,PATRIOT NATIONAL BANK CONN,NaN,...,0.1,0.1,NaN,4.0,C,-0.000536,-0.000562,0.003592,0.003579,-0.001197
1,80837,1994-09-01,NaN,11.0,3.0,6020.0,70336H10,PNBK,PATRIOT NATIONAL BANK CONN,NaN,...,0.1,0.1,6.50,17.0,-0.074074,-0.004520,-0.004657,-0.000902,-0.000949,-0.004900
2,80837,1994-09-02,NaN,11.0,3.0,6020.0,70336H10,PNBK,PATRIOT NATIONAL BANK CONN,NaN,...,0.1,0.1,6.75,11.0,0.080000,-0.002601,-0.002897,0.003428,0.003293,-0.004607
3,80837,1994-09-06,NaN,11.0,3.0,6020.0,70336H10,PNBK,PATRIOT NATIONAL BANK CONN,NaN,...,0.1,0.1,6.75,5.0,-0.055556,0.000327,0.000283,-0.000356,-0.000397,0.001847
4,80837,1994-09-07,NaN,11.0,3.0,6020.0,70336H10,PNBK,PATRIOT NATIONAL BANK CONN,NaN,...,0.1,0.1,6.75,7.0,0.058824,0.000008,-0.000004,0.002477,0.002456,-0.001844

In [17]:
filtered_df = df[df[column_to_filter].between(start_date, end_date)]
filtered_df = filtered_df[['date', 'RETX']]
filtered_df.head(5)

         date      RETX
22 1994-10-03  0.000000
23 1994-10-04  0.000000
24 1994-10-05  0.125000
25 1994-10-06  0.000000
26 1994-10-07  0.166667